body{
  max-width: 1460px;
  overflow: hidden;
}

.home-container {
    width: 100%;
    height: 680px;
    overflow: hidden;
}
.home-container .home-img {
    width: 100%;
    min-width: 1300px;
}

.menu-head {
  color: darkgrey;
  font-size: 16px;
  font-weight: 300;
}

.top-bar{
  padding: 0;
}

.menu>li>a{
  /*padding: 0;*/
}

.logo{
  font-size: 16px;
  padding: 0;
}

.button{
  margin: 0;
}

.prof1{
  background-color: lightgray;
  /*padding: 5% 5% 5% 5%;*/
  height: 530px;
}

.prof_img{
  border-color: white;
  border-width: 5px;
  border-style: solid;
  width: 100%;
}

.prof1 h3{
  color: white;
  text-align: center;
  margin-top: 20px;
}

.prof1 p{
  color: white;
  text-align: center;
  margin-top: 20px;
}

.info{
  border-width: 5px;
  border-style: outset;
  width: 100%;
  font-size: 16px;
  color: black;
  overflow: scroll;
}

.info span{
  font-size: 16px;
  color:rgb(16, 98, 175);
  text-decoration: none;
}

.prof2{
  height: 530px;
}

.secondary-menu, .secondary-menu a {
  background-color: #2199e8;
  color: white;
}

.nested_view{
  width: 70%;
  overflow-x: none;
}

.left-nav {
  position: relative;
  top: 0;
  left: 0;
  width: 200px;
  height: 680px;
  background-color: lightgray;
  overflow-y: scroll;
  text-align: center;
}

.left-nav img{
  border-color: #2199e8;
  border-width: 4px;
  border-style: solid;
  width: 100%;
}

.left-nav h4{
  color: #2199e8;
}

.right-content {
  position: absolute;
  width: 100%;
  left: 200px;
  top: 98px;
  height: 800px;
  overflow-y: scroll;
}

.landing_img{
  position: fixed;
  /*width: 100%;*/
  height: 680px;
  width: 1300px;
  /*min-width: 1100px;*/
  /*max-width: 1000px;*/
  overflow: hidden;
  margin-top: -41px;
  opacity: 0.8;
  z-index: -10;
}

.members_hover{
  background-color:rgba(33, 153, 232, 0.2);;
  color: white;
}

.member_prof{
  width: 100%;
  border-width: 8px;
  border-color: #2199e8;
  border-style: solid;
}

.matched3{
  border-color: #fe4b8b;
  border-width: 2px;
  border-style: solid;
  width: 31%;
  margin-top: 5px;
}

.matched5{
  border-color: #fe4b8b;
  border-width: 2px;
  border-style: solid;
  width: 20%;
  margin-top: 5px;
}

.matched100{
  width: 100%;
}

.margL10{
  margin-left: 10%;
}
