.home-container {
    width: 100%;
    height: 600px;
    overflow: hidden;
}
.home-container .home-img {
    width: 100%;
}

.menu-head {
  color: white;
  font-size: 40px;
  font-weight: 300;
}

.logo{
  font-size: 25px;
}
