<img class="landing_img" src="img/img2.jpg" alt="" />
  <br>
  <div class="row margL10">
    <div class="column medium-5 callout">
      <div ng-repeat="convo in Conversation.conversation.messages">
        <img class="matched5" ng-src="{{Conversation.currentUser.avatar}}" alt="pic" ng-hide="Conversation.conversation.reciever._id === convo._sender"/>
        <div class="convo_name_1" ng-hide="Conversation.conversation.reciever._id === convo._sender">
          {{Conversation.currentUser.username}}
        </div>
        <img class="matched5" ng-src="{{Conversation.conversation.reciever.avatar}}" alt="pic" ng-show="Conversation.conversation.reciever._id === convo._sender"/>
        <div class="convo_name_2" ng-show="Conversation.conversation.reciever._id === convo._sender">
          {{Conversation.conversation.reciever.username}}
        </div>

        <i>({{convo.timestamp| date: 'short'}})</i> :
        <strong class="">
          {{convo.content}}
        </strong>
      </div>
    </div>
    <div class="column medium-7 callout">
      <img class="matched100" ng-src="{{Conversation.conversation.reciever.avatar}}"
      ng-click="Members.getMember(Conversation.conversation.reciever._id)"/>
      <h3 class="name">{{Conversation.conversation.reciever.names.firstName}} {{Conversation.conversation.reciever.names.lastName}}</h3>
      <br>
      <input type="text" ng-model="Conversation.message" value="">
      <button href="" class="success expanded button" ng-click="Conversation.sendMessage(Conversation.conversation.reciever._id)">Send Message</a>
    </div>
  </div>
</div>
