<img class="landing_img" src="img/img2.jpg" alt="" />
<br>
<div class="row margL10">
  <div class="column medium-3 callout"  ng-repeat="member in Members.currentUserMatches"
                                        ng-class="{members_hover: hover}"
                                        ng-mouseenter="hover = true"
                                        ng-mouseleave="hover = false">
    <img class="matched matched100" ng-src="{{member.avatar}}"
    ng-click="Members.getMember(member._id)" alt="matched pics" />
    <div class="name">
      {{member.names.firstName}} {{member.names.lastName}}
    </div>
    <a href="" class="warning expanded button" ng-click="Members.unmatchMember(member._id)">UnMatch Me 💔</a>
    <a ui-sref="members.chatone({recipientId: member._id})" class="success expanded button" ng-hide="Members.matches.indexOf(member._id)<0">Chat ✉</a>
  </div>
</div>
