<img class="landing_img" src="img/img3.jpg" alt="" />
<br>
<div class="row margL10">
  <div class="column medium-3 callout"  ng-repeat="member in Members.popularMembers"
                                        ng-class="{members_hover: hover}"
                                        ng-mouseenter="hover = true"
                                        ng-mouseleave="hover = false">
    <img class="matched matched100" ng-src="{{member.avatar}}"
    ng-click="Members.getMember(member._id)"/>
    <div class="name">
      {{member.names.firstName}} {{member.names.lastName}}
    </div>
    <a href="" class="alert expanded button" ng-click="Members.matchMember(member._id)"
    ng-show="Members.matches.indexOf(member._id)<=0">Match Me 💘</a>
    <br>
    <a href="" class="warning expanded button" ng-click="Members.unmatchMember(member._id)"
    ng-hide="Members.matches.indexOf(member._id)<=0">UnMatch Me 💔</a>
  </div>
</div>
