<br>
<br>
<div class="row small-up-2 medium-up-2 large-up-2">
  <div class="column callout prof1">
    <div class="column">
      <img ng-src={{::Profile.currentUser.avatar}} alt="avatar" />
    </div>
    <div class="column callout info">
      <div class="prof_user">
        User Name: <span>{{::Profile.currentUser.username}}</span>
      </div>
      <div class="">
        Full Name: <span>{{::Profile.currentUser.names.firstName}}{{::Profile.currentUser.names.lastName}}</span>
      </div>
      <div class="">
        Email: <span>{{::Profile.currentUser.email}}</span>
      </div>
      <div class="">
        Date of Birth: <span>{{::Profile.currentUser.dob | date}}</span>
      </div>
      <div class="">
        Slug: <span>{{::Profile.currentUser.slug}}</span>
      </div>
      <div class="">
        Address: Lat(<span>{{::Profile.currentUser.address.geo.lat}}</span>) Long(<span>{{::Profile.currentUser.address.geo.lng}}</span>)
      </div>
      <div class="">
        Active: <span>{{::Profile.currentUser.active}}</span>
      </div>
    </div>
  </div>
  <div class="column callout prof2">
    <form method="POST" action="javascript:void(0)">
      <div class="small-4 columns">
        <label for="username">Username: </label>
        <input type="text" ng-model="Profile.currentUser.username" name="username" id="username" minlength='6' required="true">
      </div>
      <div class="small-4 columns">
        <label for="avatar">Avatar: </label>
        <input type="text" ng-model="Profile.currentUser.avatar" name="avatar" id="avatar" required="true">
      </div>
      <div class="small-4 columns">
        <label for="firstName">First Name: </label>
        <input type="text" ng-model="Profile.currentUser.names.firstName" name="firstname" id="firstname" required="true">
      </div>
      <div class="small-4 columns">
        <label for="lastName">Last Name: </label>
        <input type="text" ng-model="Profile.currentUser.names.lastName" name="lastname" id="lastname" required="true">
      </div>
      <div class="small-2 columns">
        <label for="slug">Slug: </label>
        <input type="text" ng-model="Profile.currentUser.slug" name="slug" id="slug"
        required="true">
      </div>
      <div class="small-5 columns">
        <label for="email">Email: </label>
        <input type="email" ng-model="Profile.currentUser.email" name="email" id="email"
        required="true">
      </div>
      <div class="small-3 columns">
        <label for="dob">Date of Birth: </label>
        <input type="text" ng-model="Profile.currentUser.dob" name="dob" id="dob" placeholder='1988-09-09' required="true">
      </div>
      <div class="small-3 columns">
        <label for="gender">Gender: </label>
        <input type="number" ng-model="Profile.currentUser.gender" name="gender" id="gender">
      </div>
      <div class="small-1 columns">
        <label for="lat">Lat: </label>
        <input type="number" ng-model="Profile.currentUser.address.geo.lat" name="lat" id="lat" required="true">
      </div>
      <div class="small-1 columns">
        <label for="lng">Long: </label>
        <input type="number" ng-model="Profile.currentUser.address.geo.lng" name="lng" id="lng"
        required="true">
      </div>
      <div class="small-6 columns">
        <label for="edit">Edit: </label>
        <input type="submit" class="warning button expanded" value="Edit Profile" ng-click="Profile.editProfile()">
      </div>
      <div class="small-6 columns">
        <label for="delete">Deactive: </label>
        <button class="alert button expanded" ng-click="Profile.deleteProfile(Profile.currentUser._id)">Deactive Profile</button>
      </div>
    </form>
  </div>
</div>
