<hr>
<div class="row small-up-2 medium-up-2 large-up-2">
<div class="column callout">
    <div class="">
      <h3>Your Profile</h3>
    </div>
    <div class="">
      User Name: {{::Profile.currentUser.username}}
    </div>
    <img width='40%' ng-src={{::Profile.currentUser.avatar}} alt="avatar" />
    <div class="">
      Full Name: {{::Profile.currentUser.names.firstName}}{{::Profile.currentUser.names.lastName}}
    </div>
    <div class="">
      Email: {{::Profile.currentUser.email}}
    </div>
    <div class="">
      Date of Birth: {{::Profile.currentUser.dob | date}}
    </div>
    <div class="">
      Slug: {{::Profile.currentUser.slug}}
    </div>
    <div class="">
      Address: Lat({{::Profile.currentUser.address.geo.lat}}) Long({{::Profile.currentUser.address.geo.lng}})
    </div>
    <div class="">
      Active: {{::Profile.currentUser.active}}
    </div>

  </div>
  <div class="column callout">
    <div class="">
      <h3>Edit Profile</h3>
    </div>
    <form method="POST" action="javascript:void(0)">
      <div class="small-4 columns">
        <label for="username">Username: </label>
        <input type="text" ng-model="Profile.currentUser.username" name="username" id="username" minlength='6' required="true">
      </div>
      <div class="small-4 columns">
        <label for="avatar">Avatar: </label>
        <input type="text" ng-model="Profile.currentUser.avatar" name="avatar" id="avatar" required="true">
      </div>
      <div class="small-4 columns">
        <label for="firstName">First Name: </label>
        <input type="text" ng-model="Profile.currentUser.names.firstName" name="firstname" id="firstname" required="true">
      </div>
      <div class="small-4 columns">
        <label for="lastName">Last Name: </label>
        <input type="text" ng-model="Profile.currentUser.names.lastName" name="lastname" id="lastname" required="true">
      </div>
      <div class="small-2 columns">
        <label for="slug">Slug: </label>
        <input type="text" ng-model="Profile.currentUser.slug" name="slug" id="slug"
        required="true">
      </div>
      <div class="small-5 columns">
        <label for="email">Email: </label>
        <input type="email" ng-model="Profile.currentUser.email" name="email" id="email"
        required="true">
      </div>
      <div class="small-3 columns">
        <label for="dob">Date of Birth: </label>
        <input type="text" ng-model="Profile.currentUser.dob" name="dob" id="dob" placeholder='1988-09-09' required="true">
      </div>
      <div class="small-1 columns">
        <label for="lat">Lat: </label>
        <input type="number" ng-model="Profile.currentUser.address.geo.lat" name="lat" id="lat" required="true">
      </div>
      <div class="small-1 columns">
        <label for="lng">Long: </label>
        <input type="number" ng-model="Profile.currentUser.address.geo.lng" name="lng" id="lng"
        required="true">
      </div>
      <div class="small-6 columns">
        <label for="edit">Edit: </label>
        <input type="submit" class="warning button expanded" value="Edit Profile" ng-click="Profile.editProfile()">
      </div>
      <div class="small-6 columns">
        <label for="delete">Deactive: </label>
        <button class="alert button expanded" ng-click="Profile.deleteProfile(Profile.currentUser._id)">Deactive Profile</button>
      </div>
    </form>
  </div>
</div>
