<img class="landing_img" src="img/img1.jpg" alt="" />
<div class="row small-up-1 medium-up-1 large-up-1 margL10">
  <div class="callout">
    <form method="POST" action="javascript:void(0)">
      <div class="small-4 columns">
        <label for="username">Username: </label>
        <input type="text" ng-model="Members.search.username" name="username" id="username" minlength='6' required="true">
      </div>
      <div class="small-5 columns">
        <label for="email">Email: </label>
        <input type="email" ng-model="Members.search.email" name="email" id="email"
        required="true">
      </div>
      <div class="small-3 columns">
        <label for="gender">Gender: </label>
        <input type="number" ng-model="Members.search.gender" name="gender" id="gender" placeholder='0' required="true">
      </div>
      <div class="small-3 columns">
        Age From:
        <input type="number" ng-model="Members.search.age" name="age" id="age">
        Age To:
        <input type="number" ng-model="Members.search.age" name="age" id="age">
      </div>
      <div class="small-3 columns">
        <label for="interestedIn">Interested In: </label>
          <select name="select">
          <option value="0" selected>0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
      </div>
      Any of the above can match:
      <input type="radio" name="search_type" value="true">
      Everything above must match:
      <input type="radio" name="search_type" value="false">

      <button class="success button expanded" ng-click="Members.search()">Search</button>
    </form>
  </div>
</div>
